In [ ]:
print("NAME SHAHANA")

NAME SHAHANA

In [ ]:
print("shahana")

shahana

In [ ]:
print("shahana")

shahana

# variable

In [ ]:
payment_per_day=795
days_of_working=26
total_salary=payment_per_day*days_of_working
print(total_salary)

20670

In [ ]:
x,y,z="fruits","markets","computor"
print(x)
print(y)
print(z)#To show output

fruits
markets
computor

In [ ]:
x="hello python"# string
y=123 # integer
z=1.23 # float
a=True # bool
b="1234" # string
print(x,y,z,a,b)
print(type(x)) # to check data type
print(type(y))
print(type(z))
print(type(a))
print(type(b))

hello python 123 1.23 True 1234
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
x=4
y=2
print(x+y)

6

# opperations

In [ ]:
x=15
y=12
print(x-y)

3

In [ ]:
x=7
y=2
print(x*y)

14

In [ ]:
x=4
y=7
print(x/y)

0.5714285714285714

In [ ]:
x=3
y=6
print(x%y)

3

In [ ]:
x=12
y=4
print(x//y)

3

In [ ]:
x=123
y=str(x)
print(type(y))

<class 'str'>

##STRING

In [ ]:
x="13345"
y=12345
z=int(x)
a=z+y
print(a)

25690

In [ ]:
a="hello"
# z=int(a)  ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
x="hello programmer"
print(len(x))

16

In [ ]:
Text="hello,let's start coding"
print("start" in Text)

True

In [ ]:
x="array"
print(x[0])
x="array"
print(x[1])
x="array"
print(x[2])
x="array"
print(x[3])
x="array"
print(x[4])

a
r
r
a
y

# bool true/false

In [ ]:
voice="this is an automated voice by sin"
print("hello" not in voice)

True

In [ ]:
voice="this is an automated voice by sin"
print("and" in voice)

False

In [ ]:
Text="hello,let's start coding"
print("is" in Text)

False

In [ ]:
xyz="hy my name is python"
print(xyz[2:10])

 my name

In [ ]:
xyz= "hy my name is python"
print(xyz[14:20])

python

In [ ]:
xyz="hy my name is python"
print(xyz[13:])

 python

In [ ]:
xyz="hello python"
print(xyz[1:])

ello python

In [ ]:
x="python"
print(x[-1])

n

In [ ]:
b="hello'World!"
print(b[-11:-7])

ello

In [ ]:
a="123456789"
print(a[: :2])

13579

In [ ]:
a="123456789"
print(a[: :3])

147

In [ ]:
a="123456789"
print(a[: :4])

159

In [ ]:
a="123456789"
print(a[: :5])

16

# python strick method

In [ ]:
Word= "hello python"
print(Word.upper())

HELLO PYTHON

In [ ]:
Word="HELLO PYTHON"
print(Word.lower())

hello python

In [ ]:
a="  Hello, world! "
print(a.strip())

Hello, world!

In [ ]:
a="Hello,World!"
print(a.replace("H", "J"))

Jello,World!

In [ ]:
a="Thisesfreeterid"
print(a[:4]+"i"+a[5:10]+"p"+a[11:-1]+"o"+a[14:])

Thisisfreeperiod

In [ ]:
a="heolodibai"
print(a[:2]+"l"+a[3:6]+"u"+a[7:10])

hellodubai

In [ ]:
a="my name is shahana"
print(a.split(" "))

['my', 'name', 'is', 'shahana']

In [ ]:
a="iam, from, wadakanchery"
print(a.split(","))

['iam', ' from', ' wadakanchery']

#common python string operations

In [ ]:
"banana".find("na") #finds the index of the first occurance of a substating

2

In [ ]:
",".join(['a','b','c'])#join elements of iterable with string as separator

'a,b,c'

In [ ]:
"banana".count("a")#conts occurances of a substring

3

In [ ]:
"hello".startswith ("he")#str.ends with(suffix)checks how a string starts or ends

True

In [ ]:
"hello".endswith("1o")#ends with

False

In [ ]:
"abc".isalpha()#str.isalpha

True

In [ ]:
"123".isdigit()#str.isdigit

True

In [ ]:
"abc123".isalnum()#str.isalnum

True

In [ ]:
"a,b,c".split(",")#split string into list using a separator

['a', 'b', 'c']

In [ ]:
"hello World".title()#converts first character of each world to uppercase

'Hello World'

# string format

In [ ]:
age=36
txt="My name is john,iam{}"     #string format
print(txt.format(age))

My name is john,iam36

In [ ]:
amount=3212
orderno=4776
quality=10
myorder="i want {} of my order {} for {} rupees"
print(myorder.format(quality,orderno,amount))

i want 10 of my order 4776 for 3212 rupees

 old style formating(%operations)

In [ ]:
name="Alice"
age=30
print("Hello,%s.you are %d years old"% (name,age))   #old formating(%operator)

Hello,Alice.you are 30 years old

str.format()method

In [ ]:
name="Bob"             #str.format()method
balance=345.67
print("Hello,{}. your account balance is ${:.2f}".format (name,balance))

Hello,Bob. your account balance is $345.67

 f-string (python3.6)

In [ ]:
name="charlie"    #f-string(python3.6+)
score=92
print(f"student {name} scored {score}% on the test.")

student charlie scored 92% on the test.

dictionary formatting

In [ ]:
person={"Name":"Diana","Job":"Engineer"}     #dictionary formatting
print("Name:{Name},Occupation:{Job}".format(**person))

Name:Diana,Occupation:Engineer

## Questions

## answers

In [ ]:
#1
string1="filet Mignon"
print(string1.strip(" "))

filet Mignon

In [ ]:
string2="brisket"
print(string2.strip(""))

brisket

In [ ]:
string3="cheeseburger"

print(string3.strip(" "))

cheeseburger

In [ ]:
Word="hello python"
print(Word.upper())

HELLO PYTHON

In [ ]:
a="friuts"
print(len(a))

6

In [ ]:
a=int(input("number1: "))      #using input
b=int(input("number2: "))
print(a*b)

KeyboardInterrupt: Interrupted by user

In [ ]:
a=int(input("number3:"))
b=int(input("number4:"))
print(a*b)

In [ ]:
weight=0.2
animal="newt"


print(f"{weight}kg is the weight of {animal}")

In [ ]:
#example
name="shahana"
age=21
print(f"My {name},iam {age} years old")

In [ ]:
#6
weight=0.2
animal="newt"
x=" {} kg is the weight of {}"
print(x.format(weight,animal))

In [ ]:
#7
a=0.2
b="newt"
x=str(weight)
print(type(x))
a="is the weight of"
print(f"{weight} is the weight of {animal}")  #formatting f.string

In [ ]:
#5
a=0.2
animal="newt"
x=" is the weight of "
y=str(a)                 #change float into string
print(y+x+animal)   #concantenation

In [ ]:
txt="we are the so-called\"vikings\"from the north"
print(txt)

In [ ]:
print("shahana\n")             #use new line\n
print("safna\n")
print("surumi")

In [ ]:
print("safna")
print("surumi")

# PYTHON BOOLEANS

In [ ]:
print(10==10)
print(10<9)
print(10==100)

True
False
False

In [ ]:
print(bool("python"))
print(bool(100))
print(bool(["apple","cherry","banana"]))

True
True
True

In [ ]:
x=200
print(isinstance(x,int))

True

# 1 ARITHMATIC OPERATIONS

In [ ]:
import operator

In [ ]:
x=5
y=4             #addition
print(x+y)

9

In [ ]:
operator.add(x,y)     #function

9

In [ ]:
a=12               #subtracting
b=4
print(a-b)

8

In [ ]:
operator.sub(a,b)     #function

16

In [ ]:
x=16             #multiplication
y=4
print(x*y)

64

In [ ]:
operator.mul(x,y)   #fuction

20

In [ ]:
a=20        #power
b=4
print(a**b)

160000

In [ ]:
operator.pow(a,b) #function

160000

In [ ]:
x=4            #division
y=2
print(x/y)

2.0

In [ ]:
operator.truediv(x,y)  #function

1.25

In [ ]:
x=22           #floor division
y=2
print(x//y)

11

In [ ]:
operator.floordiv(x,y)     #function

1

In [ ]:
x=34           #mudulus
y=6
print(x%y)

4

In [ ]:
operator.mod(x,y)   #function

1

#2 ASSIGNMENG OPERATOR

import operator

In [ ]:
x=5           #addition
x+=6
print(x)

11

In [ ]:
operator.iadd(5,6)    #function

11

In [ ]:
x=10         #subtracting
x-=6
print(x)

4

In [ ]:
operator.isub(10,6)   #function

4

In [ ]:
x=4           #multiplication
x*=2
print(x)

8

In [ ]:
operator.imul(4,2)  #function

8

In [ ]:
x=2         #power
x**6
print(x)

2

In [ ]:
(2,6)

(2, 6)

In [ ]:
x=6      #divison
x/=4
print(x)

1.5

In [ ]:
operator.ifloordiv(6,4)  #function

1

In [ ]:
x=10     #floor division
x//=3
print(x)

3

In [ ]:
operator.ifloordiv(10,3)   #function

3

In [ ]:
x=11     #mudula
x%=3
print(x)

2

In [ ]:
operator.imod(11,3)   #function

2

In [ ]:
x=2     #+=
x*=3
print(x)

6

In [ ]:
operator.mul(2,3)   3fuction

6

In [ ]:
x=6      #/=
x/=3
print(x)

2.0

In [ ]:
operator.itruediv(6,3)   #function

2.0

In [ ]:
x=7     #//=
x//=3
print(x)

2

In [ ]:
operator.ifloordiv(6,5)  #function

1

In [ ]:
x=11     #%=
x%=3
print(x)

2

In [ ]:
operator.imod(11,3)  #function

2

In [ ]:
x=3     #|=
x|=4
print(x)

7

In [ ]:
operator.ior(3,4)   #function

7

In [ ]:
x=5     #^=
x^=2
print(x)

7

In [ ]:
operator.ixor(3,4)   #function

7

In [ ]:
x=5      #>>=
x>>=4
print(x)

0

In [ ]:
operator.irshift(5,4)  #function

0

In [ ]:
x=8      #<<=
x<<=3
print(x)

64

In [ ]:
operator.ilshift(8,3)  #function

64

#3 LOGICAL OPERATOR

In [ ]:
x=5         #using and
y=6
x>1 and y<10

True

In [ ]:
x=5         #using or
y=6
x>6 or y<10

True

In [ ]:
x=5        #nusing not(vise-versa)
not x>1

False

#4 IDENTITY OPERATORS

In [ ]:
x=5     #using is
y=6
x is y

False

In [ ]:
x=5      #using is not
y=6
x is not y

True

In [ ]:
nums=[1,2,3,4,5]
1 in nums

False

In [ ]:
10 in nums

False

In [ ]:
'str' in 'string'

True

In [ ]:
import operator
operator.contains(nums,2)  #operator function

True

In [ ]:
nums=[1,2,3,4,5]      #using not in
1 not in nums

False

In [ ]:
10 not in nums

True

In [ ]:
'str' not in nums

True

In [ ]:
import operator
not operator.contains(nums,2)    #operatorfunction

False

## bltwise operators

In [ ]:
x=5            #using &
y=10
z=x & y
z

0

In [ ]:
import operator      #operator function
operator.and_(x,y)

0

In [ ]:
x=5         #using |
y=10
z=x|y
z

15

In [ ]:
import operator    #operator function
operator.or_(x,y)

15

In [ ]:
x=5         #using ^
y=10
z=x^y
z

15

In [ ]:
import operator   #operator function
operator.xor(x,y)

15

# LISTS

In [ ]:
fruits=["banana","apple","orange"]
print(fruits)

['banana', 'apple', 'orange']

In [ ]:
fruits=["apple","orange","mango","apple"]
print(fruits)

['apple', 'orange', 'mango', 'apple']

In [ ]:
fruits=["apple","orange","mango","apple"]
print(fruits[1])

orange

In [ ]:
fruits=["apple","orange","mango","apple"]   #use-1
print(fruits[-1])

apple

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]     #index
print(fruits[1:5])

['orange', 'mango', 'apple', 'kiwi']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
print(fruits[:5])

['apple', 'orange', 'mango', 'apple', 'kiwi']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
print(fruits[1:])

['orange', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
fruits[1]="banana"   #change value orange into banana
print(fruits)

['apple', 'banana', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
fruits[2:4]=["watermelon","greenapple"] #change mango and apple into watermelon and greenapple
print(fruits)

['apple', 'orange', 'watermelon', 'greenapple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","banana","orange"]
fruits[2:]=["watermelon","kiwi"]     #change orange into watermelon
print(fruits)

['apple', 'banana', 'watermelon', 'kiwi']

In [ ]:
fruits=["apple","banana","orange"]
fruits[1:2]=["kiwi"]
print(fruits)

['apple', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]    #using insert new iteam
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]   #use append
fruits.append("orange")
print(fruits)

['apple', 'banana', 'chery', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=["mango","pineapple","pappaya"]    #use extend(single line)
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'pappaya']

In [ ]:
fruits=["apple","banana","cherry"] #rmove apple
fruits.remove("apple")
print(fruits)

['banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]   #pop (remove iteam)
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]   # del(remove banana)
del fruits[1]
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","banana","cherry"]     #clear the iteams
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["apple","banana","cherry"]
myfruits=fruits.copy()            #copy the iteams
print(myfruits)

['apple', 'banana', 'cherry']

In [ ]:
total=[23,12,13,14]  #reverse
total.reverse()
print(total)

[14, 13, 12, 23]

In [ ]:
total=[2,3,4,6]    #integer
total[::-1]       #index reverse

[6, 4, 3, 2]

In [ ]:
a=[9,8,7,5,3,1,6,7]    #sort(have no variable)
a.sort()
a

[1, 3, 5, 6, 7, 7, 8, 9]

In [ ]:
a=[9,8,7,5,3,1,6,7]      #sorted
c=sorted(a)
print(c)

[1, 3, 5, 6, 7, 7, 8, 9]

In [ ]:
a="shahana"        #string reverse
a[::-1]

'anahahs'

# TUPLES[]

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits)

('apple', 'orange', 'kiwi')

In [ ]:
fruits=("apple","orange","kiwi")    #to check length
print(len(fruits))

3

In [ ]:
variety=("abc",34,True,40,"male")   #input varity of datatype in a tuple
print(type(variety))

<class 'tuple'>

In [ ]:
fruits=("apple","banana","cherry")
print(fruits[1])             #specify index

banana

In [ ]:
fruits=("apple","banana","cherry")    #to specify negative index
print(fruits[-1])

cherry

In [ ]:
fruits=("apple","banana","cherry","orange","kiwi","melon")
print(fruits[2:])   #python slicing

('cherry', 'orange', 'kiwi', 'melon')

In [ ]:
from re import L
x=("apple","banana","cherry")  #use list to change banana into watermelon
y=list(x)
y[1]="watermelon"
x=tuple(y)  #then it becomes tuple
print(x)

('apple', 'watermelon', 'cherry')

In [ ]:
x=("safna","shana","surumi")  #example
y=list(x)
y[1]="shahana"
x=tuple(y)
print(x)

('safna', 'shahana', 'surumi')

In [ ]:
iteams=("pen","pencil","bag","scale","marker")
print(iteams[2:])

('bag', 'scale', 'marker')

In [ ]:
x=("shahana",21,"wadakancher")    #append
y=list(x)
y.append("female")
x=tuple(y)
print(y)

['shahana', 21, 'wadakancher', 'female']

In [ ]:
x=("shahana",21,"wadakanchery")
y=list(x)
y.extend(["female","yes"])  #use extend (2 more values)
x=tuple(y)
print(y)

['shahana', 21, 'wadakanchery', 'female', 'yes']

In [ ]:
x=("shahana",21,"wadakanchery")
y=list(x)
y.remove("wadakanchery")  #use remove
x=tuple(y)
print(x)

('shahana', 21)

In [ ]:
x=("shahana",21,"wadakanchery")
y=list(x)
y.pop(2)                    #use pop
x=tuple(y)
print(x)

('shahana', 21)

In [ ]:
#UNPACKING
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
name=("sana","shanu","suru")
(red,blue,white)=name
print(blue)

shanu

In [ ]:
X=(2,4,6,8,9,1,3)
X.count(1)

1

In [ ]:
x=(1,3,5,7,8,9,2,5)
x.index(8)

4

#questions

Create a tuple with 5 elements and print it.

Access the third element of the tuple (10, 20, 30, 40, 50).

What will my_tuple[-1] return if my_tuple = (5, 10, 15, 20)?

Check if the number 25 exists in the tuple (10, 20, 30, 25, 40).

What is the length of the tuple (1, 2, 3, 4, 5, 6)?

Concatenate two tuples: (1, 2) and (3, 4).

Unpack the tuple ('Python', 3.11, 'Programming') into three variables.

Can you change an element of a tuple after it's created? Why or why not?

Count how many times 5 appears in the tuple (1, 5, 3, 5, 5, 6).

Find the index of the element 'b' in the tuple ('a', 'b', 'c').

What will be the output of tuple("hello")?

Write a program to convert a list [1, 2, 3] into a tuple.

How would you create a tuple with only one element?

What is the difference between a tuple and a list in Python?

How can you store a tuple inside another tuple?

## answers

In [ ]:
#1
c=("red","blue","green","yellow","white")
print(c)

('red', 'blue', 'green', 'yellow', 'white')

In [ ]:
#2
x=(10,20,30,40,50)
print(x[2])

30

In [ ]:
#3
a=(5,10,15,20)
print(a[-1])

20

In [ ]:
#4
y=(10,20,30,40,50)
25 in y     #in

False

In [ ]:
#5
no=(1,2,3,4,5,6)   # length
print(len(no))

6

In [ ]:
#6
x=(1,2)   #concatention
y=(3,4)
x+y

(1, 2, 3, 4)

In [ ]:
#7
ab=('python' ,3.11 ,'programming')   # packing
(num,sub,basic)=ab     #unpacking
print(num)
print(sub)
print(basic)

python
3.11
programming

In [ ]:
#8
x=("red","yellow","blue")
y=list(x)    #change to list
y[1]=("green")
x=tuple(y)  #change to tuple
print(x)

('red', 'green', 'blue')

In [ ]:
#9
x=(1,5,3,5,5,6)    #count
x.count(5)

3

In [ ]:
#10
x=('a','b','c')   #find index
x.index("b")

1

In [ ]:
#11
x=("hello")
print(x)

hello

In [ ]:
#12
xy=[1, 2, 3]    #list convert into tuple
x=tuple(xy)
print(x)

(1, 2, 3)

In [ ]:
#13
xy=("love")
print(xy)

love

# SETS{}

In [ ]:
fruits={"apple","banana","cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

In [ ]:
fruits={"apple","banana","cherry"}   # loop
for x in fruits:
  print(x)

apple
cherry
banana

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")   #add orange
print(fruits)

{'apple', 'cherry', 'banana', 'orange'}

In [ ]:
fruits={"apple","banana","cherry"}   #update
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'apple', 'orange', 'cherry', 'banana', 'kiwi'}

In [ ]:
fruits={"apple","banana","cherry"}   #remove banana
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")    # discard
print(fruits)

{'apple', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}   #clear
fruits.clear()
print(fruits)

set()

In [ ]:
fruits={"apple","banana","cherry"}  #del
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()     #pop
print(x)
print(fruits)

apple
{'cherry', 'banana'}

In [ ]:
set1={"a","b","c"}      #union()function
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
set1={"a","b","c"}   #update()
set2={1,2,3,}
set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
set1={"a","b",1,"c"}   #do not show common iteams
set2={1,2,"a",3}         #update
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
x={"aple","banana","cherry"}       #intersection update
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

set()

In [ ]:
x={"apple","banana","cherry"}     #intersection()method
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}    #symmetric difference update
x.symmetric_difference_update(y)     #opposite of intersections
print(x)

{'cherry', 'banana', 'microsoft', 'google'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}   #symmetric difference()method
x.symmetric_difference(y)
print(z)

{'apple'}

#FROZENSET

In [ ]:
nu=(1,2,3,4,5,6,7,8,9)      # tuple of numbders
fnum=frozenset(nu)          #converting tuple to frozenset
print("frozenset object is:",fnum)   #print details

frozenset object is: frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

# DICTIONARIES

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":2004}
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2004}

In [ ]:
cars={"brand":"BNW","modul":"2nd series","year":2004}
print(cars["modul"])

2nd series

In [ ]:
cars={"brand":"BNW","model":"2nd series","year":2004}
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={"brand":"BMW","model":"2nd series","year":2004}
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', 2004])

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
x=cars.values()
print(x)
cars["year"]=2020
print(x)

dict_values(['Ford', 'mustang', 1964])
dict_values(['Ford', 'mustang', 2020])

In [ ]:
cars={"brand":"ford","model":"mustang","year":1964}
x=cars.values()
print(x)          #before the change
cars["colour"]="red"
print(x)          #after the change

dict_values(['ford', 'mustang', 1964])
dict_values(['ford', 'mustang', 1964, 'red'])

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
x=cars.values()        #before the change
print(x)
cars["colour"]="red"
print(x)      #after change

dict_values(['Ford', 'mustang', 1964])
dict_values(['Ford', 'mustang', 1964, 'red'])

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
cars["year"]=2020
print(cars)

{'brand': 'Ford', 'model': 'mustang', 'year': 2020}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
cars.update({"year":2020})    #update
print(cars)

{'brand': 'Ford', 'model': 'mustang', 'year': 2020}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
cars.pop("year")     #pop
print(cars)

{'brand': 'Ford', 'model': 'mustang'}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
del cars["model"]    #delete
print(cars)

{'brand': 'Ford', 'year': 1964}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
cars.clear()    #clear
print(cars)

{}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
x=cars.copy      #copy
print(cars)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
cars={"brand":"Ford","model":"mustang","year":1964}
mycars=dict(cars)    #dictionaries
print(mycars)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

## nested dictionaries

1.   List item

1.   List item

1.   List item
2.   List item


2.   List item


2.   List item

In [ ]:
friends={"child1":{"name":"arun","year":2000},"child2":{"name":"vignesh","year":2001},"child3":{"name":"arya","year":2018}}
print(friends)

{'child1': {'name': 'arun', 'year': 2000}, 'child2': {'name': 'vignesh', 'year': 2001}, 'child3': {'name': 'arya', 'year': 2018}}

In [ ]:
child1={"name":"arun","year":2000}
child2={"name":"vignesh","year":2001}
child3={"name":"arya","year":2018}
friends={"shahana":"child1","safna":"child2","surumi":"child3"}
print(friends)

{'shahana': 'child1', 'safna': 'child2', 'surumi': 'child3'}

#CONDITIONAL STATEMENT

In [ ]:
a=33       #indentation (if-starts,else-end)
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=33       # using elif for the statement is true or false
b=33
if b>a:
  print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [ ]:
a=200      # using else
b=33
if b>a:
  print("a and b are equal")
elif a==b:
 print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a=2
b=330
print("A")if a>b else print("B")   #multiple else statement

B

In [ ]:
a=330
b=330
print("A")if a>b else print("=")if a==b else print("B")#if statement and,or

=

In [ ]:
a=200           # logical operator if the conditions are true
b=33
c=500
if a>b and c>a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a=200  #if the statement at least one is true
b=33
c=500
if a>b or a>c:
  print ("yes")

yes

In [ ]:
mark=int(input("markS: "))
if mark>90:
  print("A+")
elif mark>80:
  print("A")
elif mark>70:
  print("B+")
elif mark>60:
  print("B")
elif mark>50:
  print("C+")
elif mark>40:
  print("C")
else:
  print("failed")

markS: 23
failed

In [ ]:
balance=int(input("total balance: "))    #use if
if balance>=1000:
    print("above 1000")
elif balance<1000 and balance !=0:
    print(" below 1000")
else:
  print("0 balance")

total balance: 0
0 balance

In [ ]:
light=(input("traffic light:"))
if light=="red":
    print("stop")
elif light=="green":
    print("go")
elif light=="orange":
  print("slow")
else:
  print("plz enter correct input")

traffic light:anshif
plz enter correct input

In [ ]:
score=int(input("mark:"))   #another question for else
if score>0 and score<100:
  print("greater than 0 and less than 100")
else:
  print("enter correct mark")

mark:44
greater than 0 and less than 100

In [ ]:
value=int(input("number: "))
if value%2==0:
  print("even")
else:
  print("odd")

number: 90
even

In [ ]:
value%2==1

False

In [ ]:
season=input("weather: ")
season2=int(input("temperature: "))
if season=="sunny" and season2>40:
   print("don't go out")
elif season=="sunny" and season2>30:
  print(" to wear suncreen")
else:
  print("please consider your skin")

weather: sunny
temperature: 45
don't go out

a student get 85 marks.first,the program checks if marks are above 50(pass). then inside that,it cheks if marks are above 80 to give a distinction.what is the final output

In [ ]:
mark=int(input("mark: "))
if mark>50:
  print("pass")
  if mark>80:
    print("distinction")

else:
  print("failed")

mark: 21
failed

In [ ]:

mark=int(input("physics: "))
mark=int(input("chemistry: "))
mark=int(input("biology: "))
if mark>=50 and mark>=50 and mark>50:
  print("pass")
else:
  print("failed")

physics: 45
chemistry: 69
biology: 92
pass

In [ ]:
value1=int(input("number: "))
operator=input("enter any operator: ")
value2=int(input("number: "))
if operator=="*":
  print(value1*value2)
elif operator=="+":
  print(value1+value2)
elif operator=="-":
  print(value1-value2)
elif operator=="%":
  print(value1%value2)
elif operator=="/":
  print(value1/value2)
elif operator=="**":
  print(value1**value2)
elif operator=="//":
  print(value1//value2)

else:
  print("incorrect operator")

number: 56
enter any operator: //
number: 30
1

##PASS STATEMENT

In [ ]:
if 5>6:
 pass

In [ ]:
a=33
b=200
if b>a:
  pass

# LOOPING STATEMENT

## While loops

In [ ]:
a=[1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
a=5
a+=5
print(a)

10

In [ ]:
i=0
while i<4:
  i+=1     #incrementation
  print(i)

1
2
3
4

In [ ]:
i=10
while i>4:
  i=i-1     #decrementation
  print(i)

9
8
7
6
5
4

In [ ]:
a="loop in python"
i=0
while i<len(a):
  i+=1
  pass
print("value of i:",i)

value of i: 14

In [ ]:
i=0
a="loops in python"
l=len(a)
while i<l:
  if a[i]== "e" or a[i]=="s":
    i+=1
    continue

  print("Current Letter:",a[i])     #else\skip
  i+=1

Current Letter: l
Current Letter: o
Current Letter: o
Current Letter: p
Current Letter:
Current Letter: i
Current Letter: n
Current Letter:
Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: o
Current Letter: n

In [ ]:
i=0
a="loops in python"
while i<len(a):
  if a[i]=="p" or a[i]=="h":
    i+=1
    break
  print('Current Letter:',a[i])
  i+=1

Current Letter: l
Current Letter: o
Current Letter: o

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
else:#Executed because no break in for
  print("No Break\n")

1
2
3
4
No Break

In [ ]:
i=0
while i<4:
  i=+1
  print(i)
  break
else:#Not executed as there is a break
  print("No Break")

1

## FOR LOOPS

In [ ]:

l=["hello","for","python"]
for i in l:
  print(i)

hello
for
python

In [ ]:
t=("hello","for","python")
for i in t:
  print(i)

hello
for
python

In [ ]:
for x in 'python developer':      #for loop
  if x=='e' or x=='o':
    continue
print('Current Letter:',x)

Current Letter: r

In [ ]:
for x in 'python developer':
  #break the loop as soon it sees 'e' or 'o'
  if x=='o' or x=='e':
    break
print('Current Letter:',x)

Current Letter: o

In [ ]:
for x in "python developer":
  pass
print("last letter:",x)

last letter: r

In [ ]:
x=456
y=str(x)
print(y[::-1])

654

In [ ]:
for i in range(10):    #start
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):     # start,stop
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,5):     #start,stop,step
  print(i)

1
6

###  Basic for Loop Questions
Print numbers from 1 to 10

Print all even numbers between 1 and 20

Calculate the sum of numbers from 1 to 100

Print the multiplication table of a given number

Print each character of a given string on a new line

Print the square of numbers from 1 to 10

Print a right-angle triangle pattern using *

Reverse a string using a for loop

Count the number of vowels in a given string

Find the factorial of a given number using a for loop

In [ ]:
#1
for i in range(1,11):   #1 to 10
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2
for i in range(2,22,2):     #to find even number
   print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#3
sum=0
for i in range(1,101):
  sum=sum+i
print(sum)

5050

In [ ]:

fact=1
for i in range(1,6):
  fact=fact*i           #factorial equation(1*2*3*....)
print(fact)

120

In [ ]:
x=int(input("numbers: "))    #to use input
y=1
for i in range(1,x+1):        #input anusarich varan/or eg.(1,100)
   y=y*i
print(y)

numbers: 100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
x=int(input("user: "))
y=0
for i in range(1,x+1):
  y=y+i
print(y)

user: 100
5050

In [ ]:
num=int(input("Enter a number:  "))     #use f formate and multiplication table
for i in range(1,11):
  print(f"{i}x{num}={i*num}")                (f"{i}x{num}={i*num}")

Enter a number:  4
1x4=4
2x4=8
3x4=12
4x4=16
5x4=20
6x4=24
7x4=28
8x4=32
9x4=36
10x4=40

In [ ]:
x="Hello"
for i in x:
   print(i)

H
e
l
l
o

In [ ]:
#6
for i in range(1,11):
  print(f"{i**2}")

1
4
9
16
25
36
49
64
81
100

In [ ]:

for i in range(10):        #triangle
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
x="Hello"
for i in x[::-1]:
   print(i)

o
l
l
e
H

In [ ]:
x="shahana"
for i in x:
  print(i)

s
h
a
h
a
n
a

In [ ]:
v="aeiou"
x="nature"
for i in x:
  print(i)

n
a
t
u
r
e

In [ ]:
v="aeiou"
x="NATURE"
Y=x.lower()    #eth capitalinn matti output kitty
c=0
for i in Y:
  if i in v:
    c=c+1
print(c)

3

In [ ]:
x=int(input("number: "))
fact=1
for i in range(1,x+1):
  fact=fact*i
print(fact)

number: 10
3628800

In [ ]:
for i in range(1,11):
  print("square of ",i,"=",i**2)

square of  1 = 1
square of  2 = 4
square of  3 = 9
square of  4 = 16
square of  5 = 25
square of  6 = 36
square of  7 = 49
square of  8 = 64
square of  9 = 81
square of  10 = 100

In [ ]:
x=str(input("answer: "))   #eth reverseil anoo allayo malayalam reverse ann
y=(x[::-1])
if x==y:
  print("palindrome")
else:
  print("not palindrome")

answer: malayalam
palindrome

In [ ]:
x=str(input("word: "))     #eth reverse cheyunnath ano allayoo enn so shahana enna word heyyan pattulaa
a=(x[::-1])
if x==a:
  print("palindrome")
else:
  print("not palindrome")

word: shahana
not palindroma

In [ ]:
x=int(input("prime number:"))
for i in range(2,x):
  if x%i==0:
    print("not prime")
    break
else:
  print("prime")

prime number:3
prime

In [ ]:
x="my name is shahana"              #large  nokann
y=(x.split())
z=""
for i in y:
  if len(i)>len(z):
    z=i

print(z)

shahana

In [ ]:
x="iam shahana"
y=(x.split())             #smaller nokaan

z="1234"
for i in y:
  if len(i)<len(z):
    z=i

print(z)

iam

### calculator

In [ ]:
x=int(input("num 1: " ))
y=input("operator: ")
z=int(input("num 2: "))
if y=="+":
  print(x+z)
elif y=="-":
  print(x-z)
elif y=="*":
  print(x*z)
elif y=="**":
  print(x**z)
elif y=="%":
  print(x%z)
elif y=="/":
  print(x/z)
else:
  print("enter a proper number")

num 1: 10
operator: +
num 2: 15
25

In [ ]:
x=int(input("number: "))
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

number: 5
120

In [ ]:
x=int(input("number: "))
sum=0
for i in range(1,6):
  sum=sum+i
print(sum)

number: 5
15

In [ ]:
x=int(input("year: "))
if (x%4==0 and x%100!=0) or x%400==0:
  print("leap year")
else:
  print("not leap year")

year: 2020
leap year

## nested loop

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
     print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## PYTHON FUNCTION

2 types functions:
BUILT IN FUNCTION-(aiready ullath)
eg:print,reverse,pop,count......
USER DEFINED FUNCTION-(nmle create cheyyennath)
eg:nthayalum kozhapalla

# syntax

In [ ]:
def hello():
  print("welcome to ipcs")

## CALLING FUNCTION

In [ ]:
def hello():
  print("welcome to ipcs")

hello()  #calling function

welcome to ipcs

## ARGUMENTS OF FUNCTION

In [ ]:
def evenorodd(x):      #odd number
  if(x%2==0):
    print("even")
  else:
    print("odd")


evenorodd(4) #call function
evenorodd(3)

even
odd

In [ ]:
def add(x,y):    #adding
  print(x+y)

add(4,9)

13

In [ ]:
def multiple(x,y):       #multiple
  print(x*y)

multiple(5,10)

50

In [ ]:
def grade(x):
  if x>=90:
    print("A+")
  elif x>=80:
    print("A")
  elif x>=70:
    print("B+")
  elif x>=60:
    print("B")
  elif x>=50:
    print("C+")
  elif x>=40:
    print("C")
  else:
    print("fail")

grade(90)

A+

In [ ]:
def calculator(x,y,z):          #calculator
  if x=="+":
    print(y+z)
  elif x=="-":
    print(y-z)
  elif x=="*":
    print(y*z)
  elif x=="/":
    print(y/z)
  elif x=="%":
    print(y%z)
  elif x=="**":
    print(y**z)

calculator("+",6,9)

15

In [ ]:
def palindrome(x):          #palindrome

  a=(x[::-1])
  if x==a:
     print("palindrome")
  else:
      print("not palindrome")

palindrome('malayalam')

palindrome

In [ ]:
def larger(x):        #larger
  y=(x.split())
  z=""
  for i in y:
    if len(i)>len(z):
     z=i
  print(z)

larger("my name is shahana")

shahana

In [ ]:
def small(x):         #smallest
  y=(x.split())
  z="1234"
  for i in y:
    if len(i)<len(z):
      z=i
  print(z)

small("my name")

my

In [ ]:
def factorial(x):          #factorial
  fact=1
  for i in range(1,x+1):
    fact=fact*i
  print(fact)

factorial(8)

40320

In [ ]:
def sum(x):       #sum
  sum=0
  for i in range(1,x+1):
    sum=sum+i
  print(sum)

sum(4)

10

In [ ]:
def leapyear(x):                          #leapyear
  if (x%4==0 and x%100!=0) or x%400==0:
    print("leap year")
  else:
    print("not leapyear")

leapyear(2024)

leap year

In [ ]:
def primenumber(x):          #primenumber
  for i in range(2,x):
    if x&i==0:
      print("not prime number")
      break
  else:
    print("prime number")
primenumber(3)

prime number

In [ ]:
def vowels(x):            #parameter
  v="aeiou"
  c=0
  for i in x:
    if i in v:
      c=c+1
  print(c)

vowels("iam shahana")     #arguments

5

## TYPES OF ARGUMENTS

In [ ]:
def myFun(x,y=50):        #default arguments
  print("x:",x)
  print("y:",y)
myFun(10)

x: 10
y: 50

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(firstname='python',lastname='functions')
student(lastname='hello',firstname='programmers')        #keyword arguments

python functions
programmers hello

## ARBITRARY ARGUMENTS,*ARGS

In [ ]:
def my_function(*kids):        #oru star use cheyitte ullath(position arguments)
  print("The youngest child is"+kids[2])
my_function("Emil","Tobias","Linus")

The youngest child isLinus

In [ ]:
def myfunction(*argv):
  for x in argv:
    print(x)
myfunction('Hello','welcome','to','ipcs')

Hello
welcome
to
ipcs

## ARBITRARY KEYWORD ARGUMENTS,**KWARGS

In [ ]:
def my_function(**student):          #ethil namuk keyword vech padikenath
  print("His first name is"+student["fname"])
my_function(fname="vignesh",lname="s")

His first name isvignesh

In [ ]:
def myname(**she):
   print("she is a good"+she["name"])
myname(name="girl",letter="a")

she is a goodgirl

In [ ]:
def my_function(country="norway"):       #default parameter value
  print("i am from"+country)
my_function("sweden")
my_function("india")
my_function()
my_function("Brazil")

i am fromsweden
i am fromindia
i am fromnorway
i am fromBrazil

###passing a list as an argument

In [ ]:
def my_function(xyz):
  for x in xyz:
    print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

### RETURN VALUES

In [ ]:
def square_value(num):
  return num**2  #this function returns the square value
print(square_value(2))
print(square_value(-4))

4
16

In [ ]:
def myfunction(x):
  x[0]=30
lst=[9,11,13,14,15]
myfunction(lst)
print(lst)

[30, 11, 13, 14, 15]

### Function with function

In [ ]:
def f1():
  s='i love python'
  def f2():
    print(s)
  f2()
f1()

i love python

### lambda function

In [ ]:
def cube(y):         #lambda function
  return y*y*y

g=lambda x:x*x*x
print(g(7))


print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2 =",base(6))
base=power(5)
print("now power is set to 5")
print("8 power of 5=",base(8))

now power is set to 2
6 power of 2 = 36
now power is set to 5
8 power of 5= 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

# GLOBAL AND LOCAL VARIABLES

In [ ]:
def myfunction():
  x="meeee"
  print(s)
s="i love python"
myfunction()

i love python

In [ ]:
def myfunction():
  s="me too."
  print(s)        #local variable
s="l love python"   #Global variable
myfunction()
print(s)

me too.
l love python

In [ ]:
a=1          #porath ullath global
def f():
  print("inside f():",a)
def g():
  a=2         #ullil ullath variable
  print("inside g():",a)
def h():
  global a      #ivde global a kodutha lastthe a=3 avum krnm avde global a vilichond
  a=3
  print("inside h():",a)

print("global:",a)
f()
print("global:",a)
g()
print("global:",a)
h()
print("global:",a)

global: 1
inside f(): 1
global: 1
inside g(): 2
global: 1
inside h(): 3
global: 3

In [ ]:
import random
# a=int(input("guess: "))
user=0
system=0
for i in range(5):

  c=random.randrange(1,5)
  s=int(input("guess:"))
  print(c)
  if c==s:
    user=user+1
    print("shahana win")
  else:
    system=system+1
    print("computer win")
  if user>system:
    print("user win",user)
  elif system>user:
    print("system win",system)

guess:3
1
computer win
system win 1
guess:2
4
computer win
system win 2
guess:3
2
computer win
system win 3
guess:1
4
computer win
system win 4
guess:4
1
computer win
system win 5

###1.Functions are objects

In [ ]:
def shout(text):        #parameter
  return text.upper()
print(shout("hello"))
yell=shout            #object
print(yell("hello"))  #argument

HELLO
HELLO

###2. Functions can be passed as arguments to other functions

In [ ]:
def shout(text):       #parameter ehile 3 parameter nd athile 3rd nmle oru condition koduth anitte athine already vilich bakki ulla value call cheyith
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""hi,i am created by a function passed as an argument.""")
  print(greeting)
greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi,i am created by a function passed as an argument.

###3.Functions can returnanotherfunction

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

## questions and answers

1.write a python function to find greatest common divisors of two numbers.input-56,98 output-14

In [ ]:
x=int(input("number 1: "))
y=int(input("number 2: "))
a=[]
for i in range(1,x+1):
  if x%i==0 and y%i==0:
    a.append(i)
print(a[-1])

number 1: 56
number 2: 98
14

In [ ]:
def number(x,y):       #use function
  a=[]
  for i in range(1,x+1):
    if x%i==0 and y%i==0:
      a.append(i)
    print(a[-1])
  number(56,98)

2.[[1,2],[3,4],[5]=[1,2,3,4,5]

In [ ]:
x=[1,2,1,3,5,4]
y=[]
for i in x:
  if i not in y:
    y.append(i)
print(y)

[1, 2, 3, 5, 4]

3. write a python program to remove duplicates from o list without using set

In [ ]:
x=[1,2,1,3,5,4]
y=[]
for i in x:
  if i not in y:
    y.append(i)
print(y)

[1, 2, 3, 5, 4]

4.write a python program to print all prime numbers between 1-100

In [ ]:
for i in range(2,100):
  for x in range(2,i):
    if i%x==0:
      break
  else:
      print(i,end =" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

5.write a programe to find frequency of words from sendence.eg:'hello world hello" output={hello:2,world:1}

In [ ]:
x="hello world hello"
a=x.split()
y={}
for i in a:
  if i not in y:
    y[i]=1
  else:
    y[i]+=1
print(y)

{'hello': 2, 'world': 1}

In [ ]:
def divide(x,y):
  print(x/y)
divide(2,4)

0.5

In [ ]:
def number(x,y):
  if x>y:
    print("x is greater")
  else:
    print("y is greater")
number(4,5)

y is greater

1.write a python program to find prime or not

In [ ]:
x=int(input("num: "))
for i in range(2,x):
  if x%i==0:
    print("not a prime")
    break
else:
     print("prime")

num: 5
prime

2.remove duplicates from list

In [ ]:
a=[1,2,3,5,2,1]
b=[]
for i in a:
  if i in b:
    continue
  else:
    b.append(i)
print(b)

[1, 2, 3, 5]

3.Right a program to count vowles in a string

# RECRURSIVE FUNCTION

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))
num=4
print("The factorial of",num,"is",calc_factorial(num))

The factorial of 4 is 24

#CLASS AND OBJECT

###nmle nthano ethukennath athaan class.athintte ullil ullath ann variable and functions.variablesine parana pere ann atributes ennum functinsine ann methonds enn ann parayanuu aaa boxine key ann object.functionte ullil kodukunna parameter ann self

In [ ]:
class box:   #class
  a="hello"        #variable
  def my_method(self):   #function
    print("my method")
key=box()              #object
print(key.a)
key.my_method()

hello
my method

In [ ]:
class cars:
  attr1="BMW"
  attr2="series1"
  def fun(self):
      print("iam from",self.attr1)
      print("my model is",self.attr2)
john=cars()
print(john.attr1)
john.fun()

BMW
iam from BMW
my model is series1

In [ ]:
class phone:
              #making phone class
  def make_call(self):          #function  making always use self as parameter
    print("let's ake a phone call")

  def play_game(self):     #method
    print("let's play a game")

In [ ]:
samsung=phone()  #making object

In [ ]:
samsung.make_call()

let's ake a phone call

In [ ]:
samsung.play_game()

let's play a game

In [ ]:
apple=phone()

In [ ]:
apple.make_call()

let's ake a phone call

In [ ]:
apple.play_game()

let's play a game

## Adding parameter to the class

In [ ]:
class phone:             # making phone class

 def make_call(self):    #function making always use self as parameter
   print("let's make a phone call")

 def play_game(self):
  print("let's play a game")

 def set_color(self,color):     #adding new parameter and creating new function
   self.color=color

 def set_cost(self,cost):
  self.cost=cost

 def show_color(self):
  return self.color

 def show_cost(self):
  return self.cost            #return print pakaram koduthathann)

In [ ]:
samsung=phone() #making another object

In [ ]:
samsung.set_color("blue")

In [ ]:
samsung.set_cost("5000")

In [ ]:
samsung.show_color()

'blue'

In [ ]:
samsung.show_cost()

'5000'

##creating a class with constructor

In [ ]:
class Employee:

  def __init__(self,name,age,salary,gender):  #init method is a constructor

    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender


  def employee_details(self):
    print("name of employee is ",self.name)
    print("age of employee is",self.age)
    print("salary of employee is",self.salary)
    print("grender of employee is",self.gender)

In [ ]:
e1=Employee("sam",32,85000,"male")

In [ ]:
e1.employee_details()

name of employee is  sam
age of employee is 32
salary of employee is 85000
grender of employee is male

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power


ninja =character(100,30,90)
warrior =character(200,40,95)
print("power of ninja: ",ninja.power)
print("power of ninja: ",ninja.health)

power of ninja:  90
power of ninja:  100

In [ ]:
class character:

  def __init__(self,health,damage,power):
    self.health = health
    self.damage = damage
    self.power = power
  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
ninja = character(100,30,90)
warrior = character(200,40,95)
print("power of ninja: ",ninja.power)
print("power of ninja: ",ninja.health)
ninja.double()
print("After Doubling the power")
print("power of ninja ",ninja.damage)

power of ninja:  90
power of ninja:  100
After Doubling the power
power of ninja  90

In [ ]:
class character:

  def __init__(self,name,health,damage,power):
    self.name=name
    self.health = health
    self.damage = damage
    self.power = power

  def hai(self):
    print("Hello I am ",self.name)

  def is_alive(self):
    if self.health <=0:
      print(self.name,"is Dead!")
    else:
      print(self.name,"is alive!")


  def player_details(self):
    print("....."*5)
    print("Name of player is :",self.name)
    print("Health of player is :",self.health)
    print("damage of player is :",self.damage)
    print("power of player is :",self.power)
    print()



ninja = character("Ninja",100,30,90)
warrior = character("Warrior",200,40,95)


ninja.hai()
ninja.health=0
print("Health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

Hello I am  Ninja
Health of ninja: 0
Ninja is Dead!
Warrior is alive!
.........................
Name of player is : Warrior
Health of player is : 200
damage of player is : 40
power of player is : 95

.........................
Name of player is : Ninja
Health of player is : 0
damage of player is : 30
power of player is : 90

Create a class called Cat that models a cat with the following features:

1. The Cat class should have two attributes: name (the name of the cat) and color (the color of the cat).
These attributes should be initialized using the constructor __init__.

2. Add the following methods to the Cat class:

meow(): This method should print a message indicating that the cat is meowing. The message should include the cat's name.
purr(): This method should print a message indicating that the cat is purring. The message should include the cat's name.
scratch(item): This method should simulate the cat scratching an object. The item parameter should be passed to the method, and the message should include the cat's name and the object it is scratching.
sleep(): This method should print a message indicating that the cat is sleeping, and it should include the cat's name.

3. Create two instances of the Cat class with different names and colors.

4. Call each of the methods (meow(), purr(), scratch(), and sleep()) for both instances of the Cat class, passing appropriate arguments where required.

In [ ]:
class cat:
  def __init__(self,name,colour):
    self.name=name
    self.colour=colour
  def meow(self):
    print(self.name,"is meowing",self.colour,"is her colour")

  def purr(self):
    print(self.name,"is making purr sound")

  def scratch(self,item):
    print(f"{self.name}scraching the {item}")

  def sleeping(self):
    print(self.name,"is sleep")

c=cat("kitty","white")
c1=cat("karthu","black")
c.meow()
c.purr()
c.scratch("book")
c1.meow()
c1.purr()
c1.scratch("ball")

kitty is meowing white is her colour
kitty is making purr sound
kittyscraching the book
karthu is meowing black is her colour
karthu is making purr sound
karthuscraching the ball

# INHERITANCE IN OOP

4 types:single,multilevel,hierarchial,multiple

## single inheritance

In [ ]:
class Animal: #parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal): #child class (inheritance)
  def bark(self):
    print("Dog barking")

d=Dog()
d.bark()
d.speak() # we can call class methond through child class(inheritance)

a=Animal()
a.speak()
# a.bark() AttributeError:"Animal"object has no attribute"bark"(because the orginal class have no connection with the child behaivour/child me)

Dog barking
Animal speaking
Animal speaking

In [ ]:
class Mother:
  def cooking(self):
    print("Mother is cooking")

class Son(Mother):
  def dance(self):
    print("Son is dancing")


d=Son()
d.dance()
d.cooking()

Son is dancing
Mother is cooking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting..")
  def stop(self):
    print("vehicle is stopping..")

class car(vehicle):
  def drive(self):
    print("car is beign driven")


my_car=car()
my_car.start()
my_car.drive()
my_car.stop()
                             #my_car (ath nth venamekilum koduka)

vehicle is starting..
car is beign driven
vehicle is stopping..

## Multilevel inheritance

In [ ]:
class Animal:
  def speak(self):
    print("Animal speaking")  #grandmother

class Dog(Animal):
  def bark(self):
    print("Dog barking")    #mother

class Dogchild(Dog):
  def eat(self):
    print("Eating bread....")   #child

d=Dog()
d.bark()
d.speak()
# d.eat()  (kuttide kazhive motherine illahh)
print()

d1=Dogchild()
d1.bark()
d1.speak()
d1.eat()

Dog barking
Animal speaking

Dog barking
Animal speaking
Eating bread....

In [ ]:
class Grandmother:
  def story(self):
    print("Grandmother story")

class Mother(Grandmother):
  def singer(self):
    print("Mother singer")

class Son(Mother):
  def dance(self):
    print("He is a dancer....")

d=Mother()
d.singer()
d.story()
# d.dance()

print()

d1=Son()
d1.singer()
d1.story()
d1.dance()

Mother singer
Grandmother story

Mother singer
Grandmother story
He is a dancer....

## Hierarchial inheritance

In [ ]:
class shape: # mother(ammade kazhive rande kuttikum ndavum ennal kuttiyolde kazhive avrk mathram ndavollu)
  def info(self):
    print("shapes have dimenstions...")

class circle(shape):    #son1
  def draw(self):
    print("drawing a circle...")

class rectangle(shape):   #son2
   def draw(self):
    print("drawing a rectangle...")

c=circle()
r=rectangle()
c.info()
c.draw()
r.info()
r.draw()

shapes have dimenstions...
drawing a circle...
shapes have dimenstions...
drawing a rectangle...

In [ ]:
class mother:
  def speak(self):
    print("speak in malayalam...")

class son1(mother):
  def drive(self):
    print("drive slowly...")

class son2(mother):
  def drive(self):
    print("drive highly...")

c=son1()
r=son2()
c.speak()
c.drive()
r.speak()
r.drive()

speak in malayalam...
drive slowly...
speak in malayalam...
drive highly...

In [ ]:
class person: #parent
   def introduce(self):
      print("iam a person...")

class Teacher(person): #child1
   def teach(self):
     print("i teach students...")

class student(person): #child2
   def study(self):
    print("i study subjects...")

teacher=Teacher()
student=student()

teacher.introduce()
teacher.teach()

print()

student.introduce()
student.study()

iam a person...
i teach students...

iam a person...
i study subjects...

## multiple inheritance

In [ ]:
class calculation1:  #father
  def summation(self,a,b):
    print(a+b)

class calculation2: #mother
  def multiplication(self,a,b):
    print(a*b)

class derived(calculation1,calculation2):   #(fatherintte motherintte kazhive kuttik kittum)
   def divide(self,a,b):
    print(a/b)


d=derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

In [ ]:
class calculation1:
  def divide(self,a,b):
    print(a/b)

class calculation2:
  def summation(self,a,b):

    print(a+b)

class derived(calculation1,calculation2):
   def multiplication(self,a,b):
     print(a*b)

d=derived()
d.divide(10,31)
d.summation(10,54)
d.multiplication(10,30)

0.3225806451612903
64
300

## Hybrid inheritance

In [ ]:
class person:
  def show(self):
    print("iam a person")
class teacher(person):
  def teach(self):
    print("i teach students")

class staff:
  def manage(self):
    print("i manage schol activities")

class principal(teacher,staff):
  def oversee(self):
    print("i oversee the entire school")

principal=principal()
principal.show()
principal.teach()
principal.manage()
principal.oversee()

iam a person
i teach students
i manage schol activities
i oversee the entire school

In [ ]:
class dad:
  def speak(self):
    print("speak well")
class mom(dad):
  def cook(self):
    print("cook well")
class son:
  def draw(self):
    print("draw beautifully")

class home(mom,son):
  def vibe(self):
    print("vibing home")

home=home()
home.speak()
home.cook()
home.draw()
home.vibe()

speak well
cook well
draw beautifully
vibing home

##super() method

In [ ]:
class parent:
  def greet1(self):
    print("Hello from parent..")

class child(parent):
  def greet2(self):
    super().greet1()   #calling parent method
    print("Hello from child..")

child=child()
child.greet2()

Hello from parent..
Hello from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called..")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.name=name
    print("child constructor called..")

child=child("shahana",21)

parent constructor called..
child constructor called..

## Polymorphism

2 types
1.method overriding
2.method overloading

In [ ]:
class A:  #(same method avum but kittennath vere vere avum)
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")

class c(B):
  def show(self):
    print("class c")

obj=c()
obj.show() #method overriding

class c

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    super().show()
    print("class B")

class C(B):
  def show(self):
    super().show()
    print("class C")

obj=C()
obj.show()      #super koduthal ella classintte varum

class A
class B
class C

In [ ]:
class animal:

  def speak(self):
    print("Animal is making sound")

class dog(animal):
  def speak(self):
    print("Dog barks")

class cat(animal):
  def speak(self):
    print("cat mweows")

dog=dog()
cat=cat()

dog.speak()
cat.speak()

Dog barks
cat mweows

In [ ]:
class principal:
  def show(self):
    print("principal is shouting")

class teacher(principal):
  def show(self):
    super().show()
    print("teacher is singing")

class student(teacher):
  def show(self):
    super().show()
    print("student is writing")

obj=student()
obj.show()

principal is shouting
teacher is singing
student is writing

Create a base class Person with attributes name and age. Inherit a Student class that adds a student_id and prints all information.

Create a Vehicle class with a method start_engine(). Inherit a Car class that adds number_of_doors and overrides the start_engine() method.

Demonstrate single inheritance using a Parent and Child class. Show how the child class can access parent methods.

Write a Python program to create a class Animal with a method make_sound(). Inherit it in classes Dog and Cat and override the method.

In [ ]:
class parent:
   def dance(self):
     print("dance on stage")

class son(parent):
    def draw(self):
      print("iam drawing")

a=son()
a.dance()
a.draw()

dance on stage
iam drawing

In [ ]:
class animal:
  def make_sound(self):
    print("animal speaking")

class dog(animal):
  def make_sound(self):
    print("dog barks")

class cat(animal):
  def make_sound(self):
    print("cat meows")

d=dog()
c=cat()
d.make_sound()
c.make_sound()

dog barks
cat meows

In [ ]:
class vehicle:
  def start_engine(self):
    print("engine starts")

class car(vehicle):
  def start_engine(self):
    super().start_engine()
    print("car engine")

c=car()
c.start_engine()
c.start_engine()

engine starts
car engine
engine starts
car engine

In [ ]:
class person:
  def details(self,name,age):
    self.name=name
    self.age=age
    print(f"Name: {self.name}, Age: {self.age}")

class student(person):
  def address(self,student_id):
    self.student_id=student_id
    print(f"student id")

id=student()
id.details("shahana",21)
id.address()

Name shahana, Age: 21

TypeError: student.address() missing 1 required positional argument: 'student_id'

## Default arguments

In [ ]:
class calculator:
  def add (self,a, b=0, c=0):
    print(a+b+c)

calc=calculator()
                 #call the method with different numbers of arguments
calc.add(5)
calc.add(5,10)
calc.add(5,10,20)

5
15
35

In [ ]:
class calculator:
  def add(self,a,b=3,c=3):
    print(a+b+c)

calc=calculator()

calc.add(5)
calc.add(5,3)
calc.add(5,3,3)

11
11
11

##variable length arguments(*args,**kwargs)

In [ ]:
class mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum: {total}")

math=mathoperations()

math.add(5)
math.add(5,10)
math.add(1,2,3,4)

sum: 5
sum: 15
sum: 10

### **keyword arguments(keyword)

In [ ]:
class greeting:
  def say_hello(self,**kwargs):
    print(f"hello {kwargs["name"]}!")
    print(f"you are {kwargs["age"]} years old!")
    print(f"you are from{kwargs["city"]}!")

g=greeting()
g.say_hello(name="shahana",age=21,city="wadakanchery")

hello shahana!
you are 21 years old!
you are fromwadakanchery!

In [ ]:
class greeting:
  def say_hai(self,**kwargs):
    print(f"hai {kwargs["friend"]}!")
    print

## Encapsulation

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

c1=company("TCS",91)
print(c1._company_id)  #we can print one underscore variable
   #print(c1.__company_name)  #we can't print two underscore variable

91

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

  def get_company_name(self):
    print(self.__company_name)

c1 = company("TCS",91)
c1.get_company_name()

TCS

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance = balance
  def deposite(self,amount):
    if amount >0:
      self.__balance +=amount
      print(f"Deposited {amount}. New balance: {self.__balance}")
    else:
      print("Invalid deposit error")

  def get_balance(self):
    return self.__balance

account = bankaccount("12345", 1000)
account.deposite(500)
# print(account._balance) Attributeerror:"bankaccount"object has no attribute _bankaccount__balance
print(account.get_balance())

Deposited 500. New balance: 1500
1500

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance = balance
  def deposite(self,amount):
    if amount >0:
      self.__balance +=amount
      print(f"Deposited {amount}. New balance: {self.__balance}")
    else:
      print("invalid deposite error")

  def withdraw(self,amount):
    if amount >= self.__balance:
      print("insufficient balance")

    elif amount <=0:
      print("enter proper amount")

    else:
      self.__balance -= amount
      print(f"withdraw amount is {amount}.balance : {self.__balance})")

  def get_balance(self):
    return self.__balance

In [ ]:
account = bankaccount("24500", 1000)
account.deposite(500)

Deposited 500. New balance: 1500

In [ ]:
account.withdraw(15000)
print(account.get_balance())

insufficient balance
1500

In [ ]:
account.withdraw(500)

withdraw amount is 500.balance : 1000

In [ ]:
print(account.get_balance())

1000

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__acount_number=account_number
    self.__balance=balance

  def deposite(self,amount):
    if amount >0:
      print(f"deposited {amount}. New balance: {self.__balance}")
    else:
      print("invalid amount")

  def withdraw(self,amount):
    if amount >=self.__balance:
      print("insufficient balance")

    elif amount <0:
      print("enter proper amount")

    else:
      self.__balance-= amount
      print(f"withdraw amount is{amount}.balance: {self.__balance}")

  def get_balance(self):
    return self.__balance

account=bankaccount("24500",6000)
account.deposite(1000)
account.withdraw(500)
print(account.get_balance())

deposited 1000. New balance: 6000
withdraw amount is500.balance: 5500
5500

## Abstraction

it is the concept of (oop) hiding the implementation details

In [ ]:
from abc import ABC, abstractmethod

class vehicle(ABC):  #abstract class

   @abstractmethod
   def start_engine(self):
    pass # abstract method with no implementation

   @abstractmethod
   def stop_engine(self):
    pass #abstract method with no implementation

#an abstract class cannot be instantiated directly
v=vehicle() # type error: can't instantiate abstract class vehicle with abstract methods start_engine,stop_engine

TypeError: Can't instantiate abstract class vehicle without an implementation for abstract methods 'start_engine', 'stop_engine'

In [ ]:
from abc import ABC, abstractmethod

class vehicle(ABC):

  @abstractmethod
  def start_engine(self):
    pass # abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass #abstract method with no implementation

#making child class for abstract class instantiating

class car(vehicle): # child class of vehicle

  def start_engine(self): #also we need to create same function (method) in child classotherwise it will shows error
    print("car engine started")

  def stop_engine(self): #also we need to create same function (method)  in child classotherwise it will shows error
    print("car engine stopped")

car = car()
car.start_engine()
car.stop_engine()

car engine started
car engine stopped

In [ ]:
from abc import ABC, abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass

class circle(shape):

  def __init__(self,radius):
    self.radius = radius

  def calculate_area(self):
    print(f"circle area is : {3.14 * (self.radius)**2 }")

class Rectangle(shape):

  def __init__(self,width,height):
    self.width = width
    self.height = height


  def calculate_area(self):
    print(f"Rectangle area is : {self.width * self.height}")

cir = circle(10)
rect= Rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

circle area is : 314.0

Rectangle area is : 50

## Class method

In [ ]:
class car:
   #class variable
   wheels = 4

   def __init__(self,brand,model):
     self.brand = brand
     self.model = model

   @classmethod
   def change_wheels(cls,new_wheels):
    cls.wheels = new_wheels
    print(f"The number of wheels has been update to {cls.wheels}.")

#create an instance of car
car1=car("Toyoata","Etios")

#call the class method to modify the class variable
car.change_wheels(6)

print()

#the class variable "wheels" is now changed for all instances
print(f"car variable updated to :{car1.wheels}")

The number of wheels has been update to 6.

car variable updated to :6

## practice

1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
  @abstractmethod
  def make_sound(self):
    pass

class dog(Animal):
  def make_sound(self):
    print("dog make bark sound")

class cat(Animal):
  def make_sound(self):
    print("cat make meow sound")

d=dog()
c=cat()
d.make_sound()
c.make_sound()

dog make bark sound
cat make meow sound

2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
from abc import ABC, abstractmethod

class Employee(ABC):
  @abstractmethod
  def calculate_salary(self):
    pass


class full_time_employee(Employee):
  def calculate_salary(self,salary,hour):
    print(f"full time employee salary is: {salary}. work {hour} hr")


class part_time_employee(Employee):
  def calculate_salary(self,salary,hour):
    per_day=salary/30
    per_hour=per_day/5         #eth calculation ann
    part_hour=per_hour*hour

    print(f"part time employee salary is: {part_hour*30} work {hour} hr")

f=full_time_employee()
p=part_time_employee()

f.calculate_salary(10000,5)
p.calculate_salary(10000,2)

full time employee salary is: 10000. work 5 hr
part time employee salary is: 3999.9999999999995 work 2 hr

3.Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.

In [ ]:
from abc import ABC, abstractmethod

class polygon(ABC):
  @abstractmethod
  def number_of_sides(self):
    pass

class triangle(polygon):
  def number_of_sides(self,sides):
    print(f"number of sides of a tringle: {sides}")

class pentagon(polygon):
  def number_of_sides(self,sides):
    print(f"number of sides of a pentagon: {sides}")


t=triangle()
p=pentagon()
t.number_of_sides(3)
p.number_of_sides(6)

number of sides of a tringle: 3
number of sides of a pentagon: 6

1. Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name.
get_name()  A method to retrieve the student's name.
set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative).
get_marks()  A method to retrieve the student's marks.

3. Demonstrate the usage of the class by:

-Create an instance of the Student class.
-Setting the name of the student to "Alice" and print it using the getter method.
-Setting the marks of the student to 95 and print it using the getter method.
-Dont alow negative marks.

In [ ]:
class student:
  def set_name(self,name):
    self.__name=name

  def set_mark(self,mark):
    if mark<0:
      print("mark cannot be negative")
    else:
      self.__mark=mark

  def get_name(self):
    print(f"the  class first {self.__name}")

  def get_mark(self):
    print(f"her mark is {self.__mark}")

student_class=student()
student_class.set_name("alice")
student_class.get_name()

student_class.set_mark(95)
student_class.get_mark()

the  class first alice
her mark is 95

Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value).
-get_salary()  A method to retrieve the employee's current salary.
-increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class.
-Setting the salary to 50000 and printing it using the getter method.
-Increasing the salary by 10% and printing the updated salary.
-Dont allow negative salary , give warning message

In [ ]:
class Employee:
  def set_salary(self,salary):

    if salary>0:
      self.__salary=salary
    else:
      print("no salary")

  def get_salary(self):
    print(f"his salary is {self.__salary}")
  def increase_salary(self,salary,percentage):

    self.__salary=salary=salary
    per_percent=self.__salary /100
    percentage=per_percent*percentage
    print(f"the percentage is {self.__salary+percentage}")

Employee_class=Employee()
Employee_class.set_salary(50000)
Employee_class.get_salary()

his salary is 50000

In [ ]:
Employee_class.increase_salary(50000,10)

the percentage is 55000.0

class:product
private attributes:__price,__discount
methods:
set_price(price) positive check
appiy_discount(percent) apply discount to price
get_final_price() return after discount

In [ ]:
class product:
  def set_price(self,price):
    if price>0:
      self.__price=price
    else:
      print("no price")

  def apply_discount(self,discount):
     one_per=self.__price/100
     dis=one_per*discount
     self.__discount=dis

  def get_final_price(self):
    self.__final_price=self.__price-self.__discount
    print(f"after discount is {self.__final_price}")

total_amount=product()
total_amount.set_price(100)
total_amount.apply_discount(10)
total_amount.get_final_price()

after discount is 90.0

## Iterator

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr="banana"     #string
myit=iter(mystr)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
# Looping through an iterator

mytuple=("apple","banana","cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:

# create a iterator
class mynumbers:
  def __iter__ (self):
    self.a=1
    return self
  def __next__ (self):
    x=self.a
    self.a+=1
    return x

myclass =mynumbers()
myiter=iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

##Generators

In [ ]:
def greeting():
  print("Hi!")
  yield 1
  print("How are you?")
  yield 2
  print("Are you there")
  yield 3

messenger=greeting()
result=next(messenger)
print(result)

Hi!
1

In [ ]:
result=next(messenger)
print(result)

How are you?
2

In [ ]:
result=next(messenger)
print(result)

Are you there
3

#file handling

In [ ]:
file= open("newfile.txt", "x")
file.write('this is a new file created using "x" mode.')
file.close()

In [ ]:
file= open("newfile.txt","r")
content= file.read()
print(content)

this is a new file created using "x" mode.

In [ ]:
file= open("newfile.txt","a")
file.write("\nThis line is added later.")
file.close()

In [ ]:
file= open("newfile.txt","r")
content=file.read()
print(content)

this is a new file created using "x" mode.
This line is added later.

In [ ]:
file= open("newfile.txt","w")
file.write("Hello,python!\n")
file.write("This is a new line.")
file.close()

In [ ]:
file= open("newfile.txt","r")
content=file.read()
print(content)

Hello,python!
This is a new line.

##Threading

In [ ]:
# Example 1: Basic Thread

import threading

def task():
  print("Thread running")

thread = threading.Thread(target=task)
thread.start()

thread.join()

Thread running

In [ ]:
# Example 2: Multiple Threads

import threading

def task1():
  print("Task 1")

def task2():
  print("Task 2")

t1 = threading.Thread(target=task1)
t2 = threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task 1
Task 2

In [ ]:
import threading

In [ ]:
def print_numbers():
  for i in range(5):
    print(i)

thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import time

def download_file(file):
  print(f"downloading{file}...")
  time.sleep(2)
  print(f"{file}downloaded.")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]

for t in threads:
  t.start()

for t in threads:
  t.join()

downloadingfile1.txt...
downloadingfile2.txt...
downloadingfile3.txt...
file1.txtdownloaded.
file2.txtdownloaded.
file3.txtdownloaded.

In [ ]:
 def greet(name):
  print(f"Hello, {name}!")

thread=threading.Thread(target=greet, args=("Alice",))
thread.start()
thread.join()

Hello, Alice!

##two threading

In [ ]:
import threading
import time

# function for the chef's work(thread 1)
def chef_work():
  for i in range(5): # chef prepares 5 dishes
    print(f"chef: preparing dish {i + 1}...")
    time.sleep(2) #simulate time taken to prepare a dish
    if  i == 2:     # Assistant starts washing utensils during the 3rd dish
      print("chef: calling assistant to wash utensils.")
      time.sleep(1) # simulate time taken to call the assistant
      assistant_thread = threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join() # wait for the assistant to finish
      print("chef: Assistant done. Resuming dish preparation.")
print("chef: All dishes are prepared.")

# function for the assistant's work (Thread 2)
def assistant_work():
  for j in range(3): # Assistant washes 3 utensils
     print(f"  Assistant: Washing utensil {j + 1}...")
     time.sleep(2) #simulate time taken to wash each utensil
  print("  Assistant: All utensils are clean.")

print("kitchen: Starting work.")
chef_thread = threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join() # wait for the chef to complete their work
print("kitchen: All work completed.")

chef: All dishes are prepared.
kitchen: Starting work.
chef: preparing dish 1...
chef: preparing dish 2...
chef: preparing dish 3...
chef: calling assistant to wash utensils.
  Assistant: Washing utensil 1...
  Assistant: Washing utensil 2...
  Assistant: Washing utensil 3...
  Assistant: All utensils are clean.
chef: Assistant done. Resuming dish preparation.
chef: preparing dish 4...
chef: preparing dish 5...
kitchen: All work completed.

### Qustion
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second.
During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds.
Ensure the music playback waits for the lyrics to finish downloading before continuing.



**Output**

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
  Downloading lyrics... 1 seconds
  Downloading lyrics... 2 seconds
  Downloading lyrics... 3 seconds
  Lyrics download completed.
Music Player: Lyrics downloaded.
Music Player: Playing music... 4 seconds
Music Player: Playing music... 5 seconds
Music Player: Playback ended

In [ ]:
import threading
import time

def music_playback():
  for i in range(5):
    print(f"starting  music playback {i + 1}...")
    time.sleep(1)
    if i == 2:
      print("Downloading lyrics in the background")
      time.sleep(3)
      lyrics_thread = threading.Thread(target=lyrics_downloading)
      lyrics_thread.start()
      lyrics_thread.join()
      print(f"lyrics downloaded completed.")
  print("playback ended")

def lyrics_downloading():
  for j in range(3):
    print(f"music player:playing music {j + 1}...")
    time.sleep(2)
    print( " waits for the lyrics")

print("starting music")
lyrics_thread = threading.Thread(target=music_playback)
lyrics_thread.start()
lyrics_thread.join()
print("music completed")

starting music
starting  music playback 1...
starting  music playback 2...
starting  music playback 3...
Downloading lyrics in the background
music player:playing music 1...
 waits for the lyrics
music player:playing music 2...
 waits for the lyrics
music player:playing music 3...
 waits for the lyrics
lyrics downloaded completed.
starting  music playback 4...
starting  music playback 5...
playback ended
music completed

##Exception handling

what are errors?
1.synatax errors
2.runtime errors
3.logical errors

##syntax errors

*occur when the code vilates python's syntax rules.
*detetcted before execution.
*example:missing colons,unmatched parantheses.

In [ ]:
if 5>3
  print("tis will cause a syntax error")

SyntaxError: expected ':' (ipython-input-731235091.py, line 1)

##Runtime errors

In [ ]:
x=1/0
print(x)

ZeroDivisionError: division by zero

## Logical errors
*the program runs but gives incorrect results due to logic flows,
*example:incorrect formula or condition
incorrect formula for calculating the area of a rectangle

length=5
width=10
area=length+width#should be length*width
print("area;",area)
output:area:15
the program runs successfully but,the result is wrong because of a mustake in the logic of formula

In [ ]:
try:
    num = int(input("enter a number: "))
    result = 10 / num
except ZeroDivisionError:
  print("please enter a valid number!")
except ValueError:
  print("please enter a valid number !")
else:
  print("Division successfull! Result:", result)
finally:
  print("this block always runs.")

enter a number: 5
Division successfull! Result: 2.0
this block always runs.

In [ ]:
try:
  x=int (input("Enter a number: "))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("cannot divide by zero")

Enter a number: 0
cannot divide by zero

In [ ]:
try:
  x=int (input("Enter a number"))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Enter a number0
division by zero

In [ ]:
try:
  print(a) # the a is not defined and it will show error
except:
  print("Error occured") #but there is except keyword so that's why error not showing

Error occured

In [ ]:
print(a)
print("Hello world")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("Error occured")
print("Hello world")

Error occured
Hello world

## Else and finally blocks

### Else block:

In [ ]:
try:
  result =10/2
except ZeroDivisionError:
  print("Error")
else:
  print("Result:",result)

Result: 5.0

## Finally Block:

In [ ]:
try:
  file_=open("data.txt","r")

except FileNotFoundError:
  print("File not found!")

finally:
  print("End of program")

File not found!
End of program

In [ ]:
import math     # overflowerror
print(math.exp(1000))

OverflowError: math range error

In [ ]:
obj=42      # attribute Error:int object has no attribute "append"
obj.append(5)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
a=[1,2]
a[0]

1

In [ ]:
data={"name":"john"}  # keyerror "age"
print(data["age"])

KeyError: 'age'

In [ ]:
my_list=[1,2,3]   #indexerror
print(my_list[5])

IndexError: list index out of range

In [ ]:
print(int("hello"))  # value error

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
my_list=[1,2,3]  #value error 3 vare ollu athond wrk ayilla
my_list.remove(5)

ValueError: list.remove(x): x not in list

In [ ]:
print("5"+5)   # typeerror randum vere ann

TypeError: can only concatenate str (not "int") to str

In [ ]:
open("nonexistnt_file,.txt")   #filenotfounderror

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file.txt'

## Raise Exception

In [ ]:
age = int(input("Enter your age:"))

if age<0:
  raise ValueError("age cannot be negative")
else:
  print(f"your age is {age} ")
print("No tyr except")

Enter your age:-1

ValueError: age cannot be negative

In [ ]:
try:
  age = int(input("Enter your age:"))

  if age<0:
    raise ValueError("age cannot be negative")
  else:
    print(f"your age is{age}")
except ValueError as e:
    print(e)
print("try except finished")

Enter your age:-1
age cannot be negative
try except finished

##Custom Exception

In [ ]:
class InvalidAgeException(Exception):
  pass

number=18
try:
  input_num = int(input("Enter a number: "))
  if input_num < number:
    raise InvalidAgeException

  else:
    print("Eligible to vote")

except InvalidAgeException:
  print("Exception occurred : Invalid Age")

Enter a number: 17
Exception occurred : Invalid Age

 Write a method that takes two integers, divides the first by the second, and returns the result. Handle the case where the second integer is zero (division by zero) by catching an appropriate exception and returning e.g. 0 or printing an error message.

In [ ]:
try:
  x= int(input("enter a number: "))
  y= int(input("enter a number: "))
  result=x/y
except ZeroDivisionError:
  print("cannot divide by zero")
else:
  print("division successful :",result)

enter a number: 10
enter a number: 5
division successful : 2.0

Design a custom exception (e.g., InvalidAgeException) that is thrown when a user enters an age less than 0 or greater than 150. Write code that prompts for age, throws the custom exception when invalid, catches it and prints an error message.

In [ ]:

age=150
try:
  Age=int(input("Enter your age: "))
  if Age>age or Age<0:
    raise InvalidAgeException

  else:
    print(f"Age is : ",{Age})

except InvalidAgeException:
  print("Exception occurred : Invalid age")

Enter your age: -1
Exception occurred : Invalid age

## Regular Expression

In [ ]:
import re
text = "There are 12 apples and 34 bananas."
result = re.findall(r"\d+",text)
print(result)

['12', '34']

In [ ]:
import re
txt ="The rain in spain"
x=re.search("^The.*spain$",txt)
if x:
  print("YES!we have a match!")
else:
  print("No match")

YES!we have a match!

## The findall()function

The findall()function returns a list containing all matches
eg:print a list of all matches

In [ ]:
import re
txt = "The rain in spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

##The search()function

The search()function searches the string for a match,and remove a match object if there is a match,if there is more than one match,only the first occurrence of the match will be returned

In [ ]:
import re
txt = "The rain in spain"
x = re.search("portugal", txt)
print(x)

None

## The split()function

the split()function returns a list where the string has been split at each match
eg:split at each white-space character

In [ ]:
import re
txt = "The rain in spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-4184605719.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

you can control the numbers of occurences by specifying the maxsplit parameter:
eg: split the string only at the first occurrence

In [ ]:
import re
txt = "The rain in spain"
x = re.split("\s", txt,1)
print(x)

['The', 'rain in spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1981417618.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt,1)

## The sub()function

the sub()function replaces the matches with the text of your choice

In [ ]:
import re
txt = "The rain in spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in spain

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-549305526.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2)

## Match object

a match cbject is an object containing information abount the search and the result.
note: if there is no match,the value none will be returned,instead of the match object

In [ ]:
import re
txt = "The rain in spain"
x = re.search("ai", txt)
print(x)    #this will print an object

<re.Match object; span=(5, 7), match='ai'>

.span() returns a tuple containing the start-,and end positions of the match.

.string returns the string passed into the function

.group()returns the part of the string where there was a match

eg:
print the position(start-and end position)of the first match occurence.
The regular expression looks for any words that starts with an upper case "s":

In [ ]:
import re
txt = "The rain in spain"
x = re.search(r"\bs\w+", txt)
print(x.span())

(12, 17)

a) print the part of the string where there was a match.
the regular expression looks for any words that starts with an upper case "s":

In [ ]:
import re
txt = "The rain in spain"
x = re.search(r"\bs\w+", txt)
print(x.group())

spain

a) print the string passed throught the function.

In [ ]:
import re
txt = "The rain in spain"
x = re.search(r"\bs\w+", txt)
print(x.string)

The rain in spain